<h1>Welcome to FixMta.org</h1>

<p>After decades of shoddy service from the MTA, we think New Yorkers have had enough, and are ready for an MTA that works.</p>

<p>New York transit riders are suffering because so many politicians in Albany have failed, again and again, to address the problem seriously.  The only way to change the way business is done at the MTA is to support those who understand the problems of the current MTA and are committed to transforming the organization to one of efficiency, convenience and continual improvement.</p>

<p>To that end, we at FixMta.org are committed to informing you of who is on the side of not just properly funding the MTA, but of reforming it to better fit the needs of New Yorkers.  We'll keep you informed about new developments in the fight for an MTA that works, including a voter guide to let you know who has your interests at heart. Having your support, your voice and your vote helps us put the pressure on politicians, and break through the various forces which have been preventing reform for far too long.</p>

<p>So please <%= link_to 'join us', pledge_support_path %> in the fight for an MTA that works.</p>

<h2>Next Steps</h2>
<ul>
  <li>Learn about the <%= link_to 'problems', problems_information_path %> and <%= link_to 'possibilities', possibilities_information_path %> of MTA</li>
  <li><%= link_to 'Suggest a fix or call attention to a problem', suggestions_information_path %> with our transit system</li>
  <li><%= link_to 'Sign up for our email list, and pledge your support',  pledge_support_path %> for an MTA that works.</li>
  <li>Read our latest updates on <%= link_to 'our blog', 'http://fixmta.tumblr.com/' %>.</li>
</ul>
