<div class="clearfix">
  <div class="picture right" style="width: 56.1%;">
    <%= link_to image_tag('empty_platform.jpg', :size => '485x364'), 'http://www.flickr.com/photos/99887786@N00/3054677393/' %>
    <p>The photographer writes: <q>"I was shocked. The subway is an iconic New York thing... but [it] has not seen the kind of improvements/overhauls necessary to bring it to the 21st century. While New York maintains their subway, I think they also take it for granted."</q>
    <%= link_to 'source', 'http://www.flickr.com/photos/99887786@N00/3054677393/', :rel => 'dc:source' %>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/" class="hide">Creative Commons Attribution-Non Commercial-No Derivatives 3.0 United States License</a></p>
  </div>

  <h2>Our Vision of the Future</h2>
  <h3><em>An Accountable MTA</em></h3>
  <p>We believe in a future where the New Yorkers have a real voice at the MTA, where every concern is properly addressed.  A future where the leadership of the MTA answers to the riders themselves, rather than politicians in Albany.</p>

  <h3><em>A Modern MTA</em></h3>
  <p>We look forward to a time when <%= link_to 'beautiful subway stations', possibilities_information_path(:anchor => 'stations') %> and <%= link_to 'helpful workers', possibilities_information_path(:anchor => 'service') %> complement trains which are <%= link_to 'fast, reliable, uncrowded, and pleasant', possibilities_information_path(:anchor => 'automated') %>.</p>

  <p>While New Yorkers face <a href="http://www.nydailynews.com/ny_local/2009/10/26/2009-10-26_1_out_of_4_weekday_and_half_of_weekend_subway_trains_are_late_shows_new_data.html">constant delays</a> and crowding, modern subways <a href="http://en.wikipedia.org/wiki/List_of_driverless_trains">around the world</a> travel like clockwork <strong>seconds, not minutes</strong> apart, on automated trains that have run smoothly, safely and consistently, for 20 years.</p>

  <h3>Join us to bring on a Better MTA</h3>
  <p>We at OurMTA are working hard to help put our MTA on the right track.<br /> Join us to help bring accountability and more to New York City transit:</p>

  <%= render 'supporters/mail_chimp_sign_up_form' %>
</div>

<div class="clearfix">
  <%= render 'meetup/events/upcoming' %>
</div>

<div class="clearfix">
  <%= render 'blog_posts/latest' %>
</div>
