<%- @page_title = 'The Beauty Abroad' -%>
<h1>What's Possible When MTA is Fixed?</h1>

<p>To really understand how far behind MTA is, and what's possible when MTA is fixed, it's helpful to look to what other, more functional systems have to offer.  In this case, Paris' Metro, a system with less than 1/3 the tracks of the New York Subway, serving a city 1/4 the population of New York but with 90% of its ridership, shows what's possible.</p>

<div class="clearfix">
  <h2>Truly Fast, Frequent, Non-stop Service</h2>
  <div class="picture right"><%= image_tag 'Paris boarding line 14.jpg', :alt => "Paris' line 14 automatic train stopped for boarding at the station" %><p>Paris' line 14 automatic, driverless train stopped for boarding at the station. Exterior doors work together with the train's doors to ensure safety. - <cite cite="http://www.flickr.com/photos/meteorry/526482410" rel="with permission"><%= link_to 'source', 'http://www.flickr.com/photos/meteorry/526482410' %></cite></p></div>
  <p>Imagine arriving at the station, only to have a train appear moments later.  Imagine never again hearing those words "delayed because of train traffic ahead of us".  Paris' newest line, built just 10 years ago, is a state-of-art driverless train.  Because computers can drive the train with the utmost precision, the trains run as little as a minute and 15 seconds apart.  Not only does this save on wait times, but because automated systems are so reliable, you may never in your life experience a delay on such a train.  These trains even keep your comfort in mind, careful not to make too sudden a start or stop.  Finally, computer-driven trains are safer, as the drive never falls asleep or fails to pay attention.</p>

  <p>And running the trains just 85 seconds apart means that the system has far more capacity for ridership.  Crowded trains suddenly aren't crowded anymore when you have four times the capacity running over the same lines.</p>
</div>

<div class="clearfix">
  <h2>Modern, Spacious, High-capacity Trains</h2>
  <div class="picture right"><%= image_tag 'Paris continuously connected line 14.jpg', :alt => "Internal view of Paris' link 14 subway car, which is continuously connected with all other cars on the train" %><p>Internal view of Paris' link 14 subway car, which is continuously connected with all other cars on the train - <cite cite="http://www.flickr.com/photos/davearquati/315956338/" rel="cc by-nc-sa"><%= link_to 'source', 'http://www.flickr.com/photos/davearquati/315956338/' %></cite></p></div>
  <p>The trains of Paris show other possibilities.  For example, several of their lines run trains which as continuously connected, meaning you can freely walk from train car to train car.  This helps prevent crowding both because the previously wasted space between the trains is available for people, but also because riders can move to the less crowded sections of the train, rather than being bottled up in a single car.  These trains are safer as well, as you're never isolated with a single other passenger, and always have others in view.</p>
</div>

<div class="clearfix">
  <h2>More service to more places</h2>
  <div class="picture right"><%= link_to image_tag('Tokyo_metro_history_map.gif', :alt => 'Time-lapse rendering of Tokyo Metro lines, 1927 - 2008'), 'http://en.wikipedia.org/wiki/Tokyo_subway' %><p>Time-lapse rendering of Tokyo Metro lines, 1927 - 2008 - <cite cite="http://en.wikipedia.org/wiki/File:Tokyo_metro_history_map.gif" rel="gfdl"><%= link_to 'source', 'http://en.wikipedia.org/wiki/File:Tokyo_metro_history_map.gif' %></cite></p></div>
  <p>While the MTA has stagnated, foreign systems have been building out at a rapid pace, connecting and serving more and more of their citizenry.  Tokyo's system, for example, has been built from nearly nothing starting in the 50s, and now serves twice as many riders as the New York system.</p>
</div>

<div class="clearfix">
  <h2>Breathtaking Stations</h2>
  <div class="picture right"><%= link_to image_tag('historic_city_hall_station.jpg', :alt => 'The Historic City Hall station of New York, no longer in use'), 'http://www.nycsubway.org/perl/stations?5:979' %><p>This beautiful  subway station, built in 1904, sits unused beneath New York - <cite cite="http://www.nycsubway.org/perl/show?83210" rel="permission"><%= link_to 'source', 'http://willscarlett.aminus3.com/' %></cite></p></div>
  <p>While the stations of the subway are now often dirty, ugly,  marginally welcoming places, this was not always the case.  New York City once had the imagination to build stations which were beautiful as well as practical.  <%= link_to 'The City Hall station', 'http://www.nycsubway.org/perl/stations?5:979' %>, pictured right, remains the most impressive subway station in New York, and yet it hasn't been used since the 1945.  No station since in New York has come close to its beauty.  With an MTA which cares for the peoples concerns, we can perhaps once again see stations which are inspire as well as serve.</p>
</div>
