<div class="clearfix">
  <h1>Our Stagnating System</h1>
  <p>There are those who will tell you that MTA's current state is a passable solution for the people in and around New York City, but we know better.</p>

  <div class="clearfix">
    <h2>Inconvenience and Indifference Abound</h2>
    <p>The problems are numerous, we're all familiar with them.  In the mornings, trains are late, packed, loud and slow running (and often stopping) between stations which are crowded, dirty and littered with bottlenecks.  Indifferent station agents respond in mumbles if at all.  In the internet age, you're unable to know even when trains or buses might arrive.  Service change notices hang everywhere, notifying you of more annoyances, while "explaining" your inconvenience with a simple "We are performing track maintenance."</p>
  </div>

  <div class="clearfix">
    <h2>A Modern City Stuck on a 70 year old system</h2>
    <%= link_to image_tag('1939_subway_expansion_plans.jpg', :style => 'width:200px; float:right'), 'http://en.wikipedia.org/wiki/Proposed_New_York_City_Subway_expansion_(1929-1940)' %>
    <p>The New York transit system as it is today was built decades ago.  Every line we currently have, and even those in the progress were planned long ago, <%= link_to "in the 1930s", 'http://en.wikipedia.org/wiki/Proposed_New_York_City_Subway_expansion_(1929-1940)' %>.  The entire system was built in a few short decades, and has been decaying for 70 years since.  The Second Avenue Line, now slated to open in <%= link_to '2016 or 17', 'http://www.nytimes.com/2009/07/22/nyregion/22second.html?scp=1&sq=new%20subway%20line&st=cse' %>, was on the planning maps <%= link_to 'in 1929', 'http://en.wikipedia.org/wiki/File:1929_IND_Second_System.jpg' %>, nearly 100 years earlier.</p>

    <p>Meanwhile comparable systems in Asia and Europe have grown substantially over the the past 70 years - adding lines, upgrading facilities - while MTA's vision for New York has not even reached those plans in place 70 years ago.</p>
  </div>

  <div class="clearfix">
    <h2>Capacity Unacceptable, With No Relief in Sight</h2>
    <p>The number of overcrowded lines vastly outnumbers the plans for expansion.  The Second Avenue line, 75 years in the making and still <%= 2016 - Date.today.year %> years from its planned opening, does nothing to help the crowding on the L, 7 or numerous other lines.</p>
  </div>

  <div class="clearfix">
    <h2>Needed Expansion Long Unmet</h2>
    <%= link_to image_tag('subway_map_with_roads.png'), 'http://www.onnyturf.com/subway/', :style => 'float:right' %>
    <p>While you wouldn't know from reading the MTA's subway maps, large areas of all boroughs are unserved by the subways.  Not only is the Second Avenue line sorely needed, 100  years later, but there are areas farther east and west whose substantial population is avenues away from the nearest station.</p>
  </div>
</div>