<div class="left location">
  <span class="time"><%= event_time(event) %></span>
  <address class="bottom">
    <%= link_to event.venue_name, venue_url(event) %><br />
    <%= event.venue_address1 %><br />
    <%= event.venue_city %>, <%= event.venue_state %> <%= event.venue_zip %>
  </address>
</div>
<h3><%= link_to event.name, event.event_url %></h3>
<p class="bottom meetup_description"><%= truncate(event.description, :length => 125) %>
  <%= link_to 'read more...', event.event_url %></p>