<h1><%= @page_title = 'Pledge Your Support' -%></h1>

<p>Millions of New Yorkers are frustrated with the perpetually shoddy service of the MTA.  But to make us all heard, we need to speak with a single voice.  Your signing up to FixMta.org will enable us to keep you in the loop for the most important e-mail updates, and to help you keep your elected representatives accountable.  Please sign up, and if you're so inclined, make a public statement of your support, and put your own perspective in writing. New York is listening.</p>

<h2>Sign up to FixMta.org</h2>
<% form_for @supporter do |f| %>
  <%= f.error_messages :header_message => "Our apologies, a quick issue to fix before we can contact you..." %>
  <p>
    <%= f.label :email, "E-mail:" %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :pledged_public_support, "I would like to publicly pledge my support!" %>
    <%= f.check_box :pledged_public_support %>
  </p>
  <div id="public_pledge_information" style="display:none">
    <p>
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :message, "Message:" %>
      <%= f.text_area :message %>
    </p>
  </div>
  <%= submit_tag 'Create' %>
<% end %>

<%= render "supporters/public_supporters" %>
