<%- content_for :header do -%>
  <ul class="nav">
    <%= render 'information/links' %>
    <%= render 'actions/links' %>
  </ul>
<%- end -%>
<%- content_for :content do -%>
  <% if flash[:success] %>
    <div class="success"><%= flash[:success] %></div>
  <% end %>

  <%- unless current_page?(root_path) -%>
  <div class="right">
    <%= render 'supporters/mail_chimp_sign_up_form' %>
  </div>
  <%- end -%>
  <%= yield %>

<%- end -%>
<%- content_for :footer do -%>
  <div class="nav">
    <div class="column span-5 prepend-5">
      <span>Info</span>
      <ul class="nav">
        <%= render 'information/links' %>
      </ul>
    </div>
    <div class="column span-5">
      <span>Actions</span>
      <ul class="nav">
        <%= render 'actions/links' %>
        <li><%= link_to 'Join the Meetup', meetup_group_path %></li>
      </ul>
    </div>
    <div class="last column span-5">
      <span>Us</span>
      <ul class="nav">
        <li><%= link_to_unless_current 'About Us', people_information_path %></li>
        <li><%= link_to 'Our Blog', blog_path %></li>
        <li><%= link_to 'Contact Us', email_address_path %></li>
      </ul>
    </div>
  </div>
<%- end -%>

<%= render :file => 'layouts/simple' -%>
