<%- content_for :header do -%>
  <ul class="nav">
    <%= render 'layouts/navigation_links' %>
  </ul>
<%- end -%>
<%- content_for :content do -%>
  <% if flash[:success] %>
    <div class="success"><%= flash[:success] %></div>
  <% end %>

  <%= yield %>

  <div id="join_us">
    <h2>Join Us</h2>
    <p>To get our monthly update and most important notifications, join our email list:</p>
    <%= render 'supporters/mail_chimp_sign_up_form' %>
  </div>
<%- end -%>
<%- content_for :footer do -%>
  <ul class="nav left">
    <%= render 'layouts/navigation_links' %>
  </ul>
  <ul class="nav right">
    <li><%= link_to_unless_current 'About Us', people_information_path %></li>
    <li><%= link_to 'Our Blog', blog_path %></li>
    <li><%= link_to 'Contact Us', email_address_path %></li>
  </ul>
<%- end -%>

<%= render :file => 'layouts/simple' -%>
