<%- content_for :header do -%>
  <ul class="nav">
    <%= render 'layouts/navigation_links' %>
  </ul>
<%- end -%>
<%- content_for :content do -%>
  <% if flash[:success] %>
    <div class="success"><%= flash[:success] %></div>
  <% end %>

  <%= yield %>

  <%= render 'supporters/sign_up_form' %>
<%- end -%>
<%- content_for :footer do -%>
  <ul class="nav left">
    <%= render 'layouts/navigation_links' %>
  </ul>
  <ul class="nav right">
    <li><%= link_to_unless_current 'About Us', people_information_path %></li>
    <li><%= link_to 'Our Blog', blog_path %></li>
    <li><%= link_to 'Contact Us', email_address_path %></li>
  </ul>
<%- end -%>

<%= render :file => 'layouts/simple' -%>
